Django==4.2
django-ckeditor==6.7.3
django-cors-headers==4.3.1
django-filter==25.1
django-js-asset==2.2.0
django-simpleui==2025.6.24
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.1
jieba==0.42.1
matplotlib==3.9.4
numpy==2.0.2
pandas==2.3.2
PyMySQL==1.1.2
scikit-learn==1.6.1
wordcloud==1.9.4


